.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 3px solid var(--background-page);
  border-top: 3px solid var(--visible-primary);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
