.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;

  .icon {
    fill: var(--visible-primary);
    cursor: pointer;
    transition: transform linear 0.15s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
