.main {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;

  .tools {
    display: flex;
    column-gap: 1.8rem;
    align-items: center;

    .add {
      border: 3px solid var(--visible-primary);
      border-radius: 50%;
      padding: 1.5rem;

      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      transition: transform linear 0.15s;

      &:hover {
        transform: scale(1.05);
      }

      svg {
        fill: var(--visible-primary);
      }
    }
  }
}
